#iconLink {
  text-decoration: none;
}

#iconLink > svg path {
  transition: all ease 0.3s;
  
}

#iconLink > svg:hover path{
  transition: all ease 0.3s;
  stroke: #09852a;
}

@media (prefers-color-scheme: dark){
  #iconLink > svg:hover path{
  transition: all ease 0.3s;
  stroke: goldenrod;
}
}


