
:root{
  --clink-color: #585858;
}
html[data-theme="light"]{
  --clink-color: #585858;
}
html[data-theme="dark"]{
  --clink-color: #ababab;
}
.clink{
  color: var(--clink-color);
  text-decoration: none;
}
.clink:hover{
  color: goldenrod;
}

